@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: rgb(145, 212, 243);
  color: white;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Architects Daughter", cursive;
}
.navBarBox {
  display: flex;
  box-shadow: 0px 5px 3px 0px rgba(153, 153, 153, 0.479);
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: rgb(246, 254, 255);
  top: 0;
  padding: 0px 20px;
}
.logo-wrap {
  display: flex;
  flex: 2;
  justify-content: start;
  align-items: center;
}
.logo {
  height: auto;
  width: 60px;
  filter: drop-shadow(155, 155, 155);
}
.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}
.navLink {
  background-color: rgb(224, 241, 252);
  padding: 10px 50px;
  border-radius: 30px;
  margin: 0px 10px;
  color: rgb(81, 95, 138);
}
.burger {
  display: none;
  /* padding: 30px 0px 0px 0px; */
}
.burger div {
  width: 25px;
  height: 3px;
  margin: 2px;
  background-color: rgb(158, 213, 250);
}
.main {
  margin-top: 80px;
}
.kalimba-container {
  display: flex;
  flex-wrap: wrap;
}

.kalimba-container:nth-of-type(even) {
  flex-direction: row-reverse;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.page-header {
  color: rgb(160, 218, 252);
  text-align: center;
  letter-spacing: 0.3rem;
  text-shadow: 2px 2px 1px rgb(9, 61, 61);
  padding: 20px 12px;
}
ul {
  list-style-type: none;
  width: max-content;
  padding: 10px;
  margin: 20px 0px 20px 0px;
}
a.navLink {
  text-decoration: none;
  display: inline-block;
}
a.text-link {
  text-decoration: none;
  display: inline-block;
}
a.navLink:hover {
  transform: scale(1.2);
  text-decoration: none;
}
a:visited {
  color: rgb(81, 95, 138);
  text-decoration: none;
}

.image-wrap {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.image-wrap img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .kalimba-container {
    flex-direction: column;
  }
  .kalimba-container:nth-of-type(even) {
    flex-direction: column;
  }
  body {
    overflow-x: hidden;
  }
  .links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 7vh;
    background-color: rgb(246, 254, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
  }
  .links li {
    opacity: 0;
  }
  .burger {
    display: flex;
    align-self: center;
    flex-direction: column;
  }
}
.nav-active {
  transform: translateX(0%);
}
